name: flutter_grist_widgets
description: A Flutter library for visualizing and editing data tables stored in Grist. Easily display Grist data in tabular format or as forms with minimal configuration.
version: 0.1.0
homepage: https://github.com/yourusername/flutter_grist_widgets

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  # This package contains widgets
